.text {
    font-size: 32;
    font-weight: bold;
    font-family: 'Inter';
    color: #FFFFFF;
}

.button {
    width: 16%;
    background-color: #499CA6;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.circle {
    background-color: #F2E5A2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}