.text {
    font-size: 32;
    font-weight: bold;
    font-family: 'Inter';
    color: #FFFFFF;
}

.button-footer {
    width: 16%;
    background-color: #499CA6;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}